---
import Layout from "../../Layout/Layout.astro";
---

<Layout>
  <section
    class="min-h-screen flex flex-col items-center justify-center p-20 text-center"
  >
    <h1 class="text-4xl font-bold mb-4">World Anvil</h1>
    <p class="text-lg font-bold text-amber-200">
      Pour en découvrir plus sur l’univers d’fdfAeshan, vous êtes au bon endroit
      !
    </p>
  </section>
  <section>
    <h2></h2>
  </section>
</Layout>
