---
import Aeshan from "../assets/logo_aeshans.svg";
import Discord from "../assets/socials/discord.svg";
import Youtube from "../assets/socials/youtube.svg";
import Soundcloud from "../assets/socials/soundcloud.svg";
import Instagram from "../assets/socials/instagram.svg";
import Tiktok from "../assets/socials/tiktok.svg";
---
<footer class="bg-black text-white flex flex-col *:mx-8 *:my-3">
    <div>
        <h2 class="text-3xl sm:text-7xl">Aeshan's Tale</h2>
        <div class="*:my-4 text-xs sm:text-xl">
            <p>Association loi 1901 </p>
            <p>Siège social : 10 rue Jacques Foillet, 25200 Montbéliard</p>
            <p>contact@aeshans-tales.fr</p>
            <p>Ensemble forgeons la créativité !</p>
        </div>
    </div>

    <div class="flex place-content-around text-xs sm:text-xl md:flex-col">
        <div>
            <ul class="*:flex *:w-full *:my-2.5 *:justify-baseline *:items-center md:flex md:place-content-evenly">
                <li><Discord class="group-hover:**:fill-gray-700 mr-5" /><a class="group md:hidden" href="">DISCORD <div class="bg-white h-px w-0 group-hover:w-full transition-all duration-300"></div></a></li>
                <li><Youtube class="mr-5" /><a class="group md:hidden" href="">YOUTUBE <div class="bg-white h-px w-0 group-hover:w-full transition-all duration-300"></div></a></li>
                <li><Tiktok class="mr-5" /><a class="group md:hidden" href="">TIKTOK <div class="bg-white h-px w-0 group-hover:w-full transition-all duration-300"></div></a></li>
                <li><Soundcloud class="mr-5" /><a class="group md:hidden" href="">SOUNDCLOUD <div class="bg-white h-px w-0 group-hover:w-full transition-all duration-300"></div></a></li>
                <li><Instagram class="mr-5" /><a class="group md:hidden" href="">INSTAGRAM <div class="bg-white h-px w-0 group-hover:w-full transition-all duration-300"></div></a></li>
            </ul>
        </div>
        <div>
            <img class="size-52" src={Aeshan.src} alt="Logo d'aeshans tale">
        </div>
    </div>
    <div>
        <ul class="flex place-content-around *:uppercase text-xs md:text-xl">
            <li><a class="group" href="">Mentions légales <div class="bg-white h-px w-full group-hover:w-0 transition-all duration-300"></div></a></li>
            <li><a class="group" href="">Cookies <div class="bg-white h-px w-full group-hover:w-0 transition-all duration-300"></div></a></li>
            <li><a class="group" href="">Politique de confidentialité <div class="bg-white h-px w-full group-hover:w-0 transition-all duration-300"></div></a></li>
        </ul>
    </div>
</footer>