---
import MenuLinks from "../Components/MenuLinks.astro"
---
<header>
    <button>Recherche Loupe</button>
    <nav class="w-fit">
        <ul class="flex flex-col">
            <MenuLinks lien = "#" texte = "Projets" />
            <MenuLinks lien = "/about" texte = "À propos" />
            <MenuLinks lien = "#" texte = "recrutement" />
            <MenuLinks lien = "#" texte = "forum" />
            <MenuLinks lien = "#" texte = "newsletter" />
            <MenuLinks lien = "#" texte = "worldanvil" />
        </ul>
    </nav>
    <div>
        <a href="">Connexion</a>
        <a href="">Inscription</a>
    </div>
</header>