---
import MenuLinks from "../Components/MenuLinks.astro";
import Logo from "../assets/logo_aeshans.svg";
---
<header class="header flex flex-col bg-[url(../assets/Background.webp)] bg-cover md:bg-none text-white h-svh md:h-fit *:mx-6 *:my-5 md:flex-row md:justify-around md:place-items-center">
    <div class="flex place-content-between mx-4">
        <Logo  />
        <button id="btn" class="md:hidden open">O</button>
    </div>
    <button class="bg-white text-black p-5 rounded-4xl font-raleway font-semibold text-base md:hidden manu">Recherche Loupe</button>
    <nav class="w-fit manu">
        <ul class="flex flex-col md:flex-row *:my-3 md:gap-5 md:isolate md:mix-blend-difference">
            <MenuLinks lien = "#" texte = "Projets" />
            <MenuLinks lien = "#" texte = "À propos" />
            <MenuLinks lien = "#" texte = "recrutement" />
            <MenuLinks lien = "#" texte = "forum" />
            <MenuLinks lien = "#" texte = "newsletter" />
            <MenuLinks lien = "#" texte = "worldanvil" />
        </ul>
    </nav>
    <div class="flex place-content-around md:hidden manu">
        <a href="" class="bg-white py-2 px-4 rounded-4xl text-black font-semibold hover:bg-black hover:text-white transition-all">Connexion</a>
        <a href="" class="bg-black py-2 px-4 rounded-4xl font-semibold hover:bg-white hover:text-black transition-all">Inscription</a>
    </div>
</header>


<!-- Script du bouton du menu -->
<script>
    let btn = document.querySelector("#btn");
    let manu = document.querySelectorAll(".manu");
    let header = document.querySelector(".header");

    btn?.addEventListener("click", (e) =>{
        if (btn.classList.contains("open")) {
            (e.target as HTMLElement).classList.add('closed');
            (e.target as HTMLElement).classList.remove('open');

                for (let i = 0; i < manu.length; i++) {
                    let manuSeul = manu[i];
                    (manuSeul as HTMLElement).classList.add('hidden');
                }
                (header as HTMLElement).classList.add('h-fit');
                (header as HTMLElement).classList.remove('h-svh', 'bg-[url(../assets/Background.webp)]', 'bg-cover');

        } else {
            (e.target as HTMLElement).classList.add('open');
            (e.target as HTMLElement).classList.remove('closed');

            for (let i = 0; i < manu.length; i++) {
                let manuSeul = manu[i];
                (manuSeul as HTMLElement).classList.remove('hidden');
                (header as HTMLElement).classList.add('h-svh', 'bg-cover', 'bg-[url(../assets/Background.webp)]');
            }
        }
    });
</script>